.container .field {
  height: 60px;
}

.title {
  font-size: 25px;
}

.block {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #2c3d63;
  margin: 0px auto;
}

.container .block .image {
  width: 50%;
  line-height: 0;
  background-color: dodgerblue;
  min-width: 400px;
}

.container .block .image img {
  width: 100%;
}

.block .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.block .text .title {
  text-align: center;
  margin: 0px auto;
  width: 90%;
}

.block .text .body {
  margin: 0px auto;
  width: 90%;
}
