.wrapper {
	background-color: #2c3d63;
	margin-top: 10px;
	padding-bottom: 45px;
	min-width: 400px;
}

.title {
	font-size: 25px;
	padding: 45px 5px 5px 145px;
}

.persons {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 45px auto 0px auto;
	min-width: 400px;
}

.person {
	margin-bottom: 10px;
}

.feat_img img {
	float: left;
	border-radius: 50%;
	margin-right: 2%;
	width: 20%;
}

.description {
	width: 400px;
	line-height: 20px;
}

.position {
	background-color: #f7f8f3;
	margin-left: 85px;
}

.description div {
	margin-bottom: 10px;
}

.adress {
	margin: 15px 0px;
	margin-left: 13%;
}

.mail_img img {
	float: left;
	margin-right: 1%;
	margin-top: 2px;
	width: 20px;
}

.mail {
	color: #678177;
	margin-left: 5px;
}
